body {
  /*font-family: 'Roboto', sans-serif;*/
  padding-top: 40px;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.grid-layout div {
  padding: 5px 10px;
  border: 1px solid lightgray;
}

.jumbotron-index {
  background-image: url(../img/2018-05-25_02_02_35_1.jpg);
  background-size: cover;
  background-position: center center; /* 左右は中央、上下は上から10%を起点に画像を見せる */
  background-repeat: no-repeat;
  height: 70vh; /* 文字部分だけでは高さがたりないので画像の高さ上げて調節 */
  color: black;
  border-radius: 0px;
  text-shadow: 2px 2px 1px yellow;
  text-align: center;
  margin-bottom: 0;
}

.head-link-row {
  background-color: lightgray;
}

.head-link {
  display: block;
  padding: 4px 0;
  transition: all 0.5s;
  color: #333333;
}

.head-link:hover {
  background-color: gray;
  color: white;
}

.label-width-control {
  width: 150px;
}

.btn {
  transition: all 0.5s;
}

.list-group-item-center {
  text-align: center;
}

.c-300 {
  width: 300px;
}

.inv {
  display: none;
}

.nav-css {
  padding: 0 1rem;
}
.nav-css:hover {
  background-color: gray;
  color: white;
}

.navbar-css {
  padding: 0 0;
}

.navbar-toggler-css:hover {
  background-color: gray;
}

.scrollspy-frame {
  position: relative;
  height: 500px;
  overflow: auto;
}

.no-radius .nav-pills .nav-link {
  border-radius: 0;
  border: 0.1px solid white;
}
